@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d4f1f4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #032169;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 使用 @layer utilities 添加文本平衡功能 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
